﻿<!DOCTYPE html>
<html ng-app="angularUI">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Content/angular-material.min.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div layout="column" ng-controller="AppController as vm">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                    <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
                    </md-icon>
                </md-button>
                <h1>@ViewBag.Title</h1>
            </div>
        </md-toolbar>
        <div layout="row" flex>
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                @RenderSection("sidebar", required: false)
            </md-sidenav>
            <div layout="column" flex id="content">
                <md-content layout="column" flex class="md-padding">
                    @RenderBody()
                </md-content>
            </div>
        </div>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-material-icons.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>
    @RenderSection("angularApp", required: true)
</body>
</html>