﻿@using SportsStore.Domain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<ul>
    @foreach (var p in Model)
    {
        <li>
            <h2>@p.Name</h2>
            @p.Description
            <p>@p.Price.ToString("c")</p>
        </li>
    }
</ul>

<ul>
    <li ng-repeat="p in products">
        <h2>{{ p.Name }}</h2>
        <p>Price: {{p.Price | currency}}</p>
    </li>
</ul>

@section sidebar
{
    <md-button class="md-accent">Button 1</md-button>
    <md-button class="md-accent">Button 2</md-button>
}

@section angularApp
{
    <script type="text/javascript">
        var app = angular.module('angularUI', ['ngMaterial','ngMdIcons']);

        app.controller('AppController', function($scope, $mdSidenav) {
            var vm = this;

            vm.toggleSidenav = function(menuId) {
                $mdSidenav(menuId).toggle();
            };

            $scope.products = @Html.Raw(Json.Encode(Model));

        });
    </script>
}

